 * {                                                                                                                                                       
      margin: 0;                                                                                                                                            
      padding: 0;
      box-sizing: border-box;
      font-family: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

.Layout{
    display:flex;
    flex-direction:column;
    padding:5px;
    height:100vh;
}
.Address.Input{
    display:flex;
    
    justify-items:center;
    flex:1;
    max-width:20vw;
    max-height:10vh;
}
.Header{
    display:flex;
    color:white;
    background-color:rgb(129, 129, 129);
    outline:2px solid grey;
    height:5vh;
    
    margin-bottom:5px;
}
.Header.Button{
    margin-left:auto;
    
}
.Content{
    display:flex;
    flex-direction:row;
    flex:1;
}